$color: #000;
$background: #ffe0a7;
$font-size: 1rem;

@import './style/normalize.scss';
@import './style/reset.scss';
@import './style/mixins.scss';

body {
  font-family: 'Aclonica', sans-serif;
}

#root {
  min-height: 100.1vh;
  width: 100%;
  background-color: $background;
}

.header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  a {
    text-decoration: none;
  }
  .logo {
    padding: 0 10px;
  }
  .menu {
    @include flex;
    flex-direction: row;
    margin-left: auto;
    li {
      //padding: 20px;
    }
    a {
      padding: 1rem;

      display: block;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .stats {
    margin-left: 1rem;
    padding: 0 1rem;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.main {
  max-width: 1000px;
  width: 100%;
  padding: 1.5rem;
  .heading {
    margin-bottom: 1rem;
    width: 100%;
  }
}

.sidebar {
  padding: 2rem 1.75rem 2rem 0;
  max-height: 93vh;
  overflow-y: auto;
}

.map {
  @include flex;
  .group {
    @include flex;
    margin-bottom: 2rem;
    width: 100%;
  }
  .one {
    max-width: 270px;
    width: 100%;
  }
}

.backpack {
  .items {
    margin-top: 1rem;
  }
  .item {
    margin-bottom: 1rem;
  }
}
